.modal-content {
  z-index: 1000;
  position: fixed;
  top: 20%;
  left: calc(25%);
  width: 50%;
  padding: 1rem;
  border: 2px solid black;
  border-radius: 8px;
  background-color: lightgray;

  .title {
    margin-top: 0;
    text-align: center;
  }
}

.modal-background {
  z-index: 900;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba($color: white, $alpha: .8);
}
