.title {
  padding: 1rem 0;
  margin: 0;
  text-align: center;
}

.filter-container {
  position: relative;
  
  .filter-icon {
    position: absolute;
    left: 8px;
    top: 16px;
    height: 24px;
  }
  
  .filter-input {
    box-sizing: border-box;
    width: 100%;
    padding: 16px 8px 16px 40px;
    border: 2px solid black;
    border-radius: 8px;
    font-size: 1.15rem;
  }
}

.city-list-container {
  position: relative;
  min-height: 50%;
  padding: 0;
  margin-bottom: 1px;
  border: 1px solid black;
  border-radius: 8px;
  list-style-type: none;

  :not(:last-child).city-list-item {
    border-bottom: 1px solid gray;
  }

  .no-items {
    padding: 16px;
  }
}
