<h1 class="title">Select your favorites cities</h1>
<div class="filter-container">
  <input #filterInput class="filter-input" type="text" placeholder="Type to filter by city name or country">
  <img class="filter-icon" src="/assets/icons/filter-solid.svg" alt="Filter icon" />
</div>
<div class="wrapper-container">
  <ul class="city-list-container">
    <li *ngFor="let city of cityListView" class="city-list-item">
      <app-city-item [city]="city" (updateFavoriteStatus)="updateFavoriteStatus($event, city)"></app-city-item>
    </li>
    <li *ngIf="!(loaderService.isLoading$ | async) && cityListView.length === 0" class="no-items">
      No data matching for filter "{{filterInput.value}}"
    </li>
  </ul>
  <app-loader *ngIf="(loaderService.isLoading$ | async)"></app-loader>
</div>
<app-paginator [navigationLinks]="navigationLinks" [total]="total" (onClickButton)="onClickButton($event)">
</app-paginator>
