.city-row {
  display: flex;
  align-items: center;

  .city-checkbox {
    margin-right: 1rem;
    transform: scale(1.5);
  }

  .name {
    font-size: 1.25rem;
  }

  .country {
    font-size: 0.80rem;
  }

}
