/* COLORS */
$primary: #3366FF;
$secondary: #6E5D5E;

/* FONTS */
$generic: sans-serif;
$primary-font: 'Archivo Narrow', $generic;
$secondary-font: Arial, $generic;

/* BREAKPOINT */
$breakpoint-small-mobile: 375px;
$breakpoint-mobile: 576px;
$breakpoint-tablet: 768px; 
